:root{
    --pritheme: #245D1E;
    --sectheme: #348d2a;
    --lighttheme: #589451;
    --whitetheme: #81d179;
}

body{
    scroll-behavior: smooth;
    background-color: var(--whitetheme);
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

.admin-logAccess{
    background-color: white;
    width: 350px;
    height: fit-content;
    box-sizing:border-box;
    align-self: center;
    display: block;
    margin: auto;
    justify-self: center;
    transform: translateY(30%);
    padding: 20px;
    border-radius: 8px;
}