:root{
    --pritheme: #245D1E;
    --sectheme: #348d2a;
    --lighttheme: #589451;
    --whitetheme: #81d179;
}

body{
    scroll-behavior: smooth;
    background-color: var(--sectheme);
    /* width: 100%; */
    height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

.admin-logAccess{
    background-color: white;
    width: 350px;
    height: fit-content;
    box-sizing:border-box;
    align-self: center;
    display: block;
    margin: auto;
    justify-self: center;
    transform: translateY(30%);
    padding: 20px;
    border-radius: 8px;
}

/* Login and signup */

#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

#login-wrapper {
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: whitesmoke !important;
}

/* Homepage Cards */

#prouct-container {
    display: flex;
    justify-content: center;
}

#product-wrapper {
    border: 1px solid red;
    margin: 20px;
    padding: 20px;
    width: 90%;
    display: flex !important;
    flex-flow: wrap row;
}

.card {
    width: 230px;
    height: 310px;
}

.card-body img {
    height: 300px;
    width: 200px;
}

body{
    scroll-behavior: smooth;
    background-color: var(--whitetheme);
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

.admin-logAccess{
    background-color: white;
    width: 350px;
    height: fit-content;
    box-sizing:border-box;
    align-self: center;
    display: block;
    margin: auto;
    justify-self: center;
    transform: translateY(30%);
    padding: 20px;
    border-radius: 8px;
}



/*----------------- product carde here ------------*/

.card-attr{
    margin:6px 9px 6px 0px;
    border-radius: 0 0 3vh 1vh;
    box-shadow: 0px 1px 2px #211d2175;
    box-sizing: border-box;
    
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 290px;
    padding: 0;

    vertical-align: top;
    max-width: 189px !important;
    margin-right: 7px;
    /* min-height: 189px; */
    height: 300px;
    background-color: #fffbf2;
}

/* .card-attr-featured-coll{
    margin:2px 3px 2px 0px;
    border-radius: 0 0 3vh 1vh;
    box-shadow: 0px 1px 2px #211d2175;
    box-sizing: border-box;
    
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 31.4%;
    padding: 0;

    vertical-align: top;
    max-width: 189px !important;
    margin-right: 7px;
    background: #fffbf2;
    height: 100% !important;
} */

.card-attr>*{
    font-size: 2vh;
}

.item-img-cont{
    box-shadow: 0px 5px 10px -15px #211d2175;  
    box-sizing: border-box;
    width: 100% !important;
    height: fit-content !important;
    padding: 0;
}

.item-img-main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1;
}

.item-inf-cont{
    height: 38% !important;
    text-align: left;
    box-sizing: border-box;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.item-inf-tex-cont{
    padding: 0;
    margin: 1px;
}

.item-name{
    font-weight: 500;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: .8rem;
}

.item-price{
    color: var(--pritheme);
    box-sizing: border-box;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 1.2rem;
    text-align: left;
}

.item-sold-count{
    color: #5e5e5e;
    box-sizing: border-box;
    font-weight: 300;
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.rating-cont{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.rated{
    color: var(--pritheme);
    font-size: 2.5vh !important;
}

.unrated{
    color: unset;
    font-size: 2.5vh !important;
}
/*----------------- product carde here ------------*/


/*----------------- product cont container here ------------*/
.product-cont{
    width: 70%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0), 0 -15px 16px 8px #a501146b, 0px 0 0px 0px #ffffff00, 0 -15px 16px 8px #a501146b;
    box-sizing: border-box;
    text-align: center;
    z-index: 4;
}

.content-cards-container{
    height: 100%;
    flex-direction: row;
    border: 1px solid red;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-left: calc(var(--bs-gutter-x) * 0.25);

    align-items: center;
    padding-top: 1px;
    padding-bottom: 3px;
    align-self: center;
}

.card-cont-attr{
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto; */
    box-sizing: border-box;
    padding: 2px 0px 2px 0px;
    /* align-items: center; */
    justify-content: center;
    border: 1px solid blue;
    width: calc(100% - 750px);

}
/*----------------- product cont container here ------------*/









/* admin listing here */

.main_adminList{
    align-self: center;
    /* width: calc(100%-200px); */
    width: 100%;
    margin: 0 100px 0 100px;
    height: 100%;
    border: 2px solid red;
    left:0;
    /* margin-right: 20px 0 20px 0; */
    box-sizing: border-box;
    align-content: stretch;
}

.add-list-cont{
    width: 500px !important;
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
}

.pDescription{
    min-height: 500px;
    text-align: start;
    vertical-align:top !important;
    overflow-wrap: break-word;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    height: fit-content;
}

#addProduct{
    background-color: var(--whitetheme);
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    right: 8px;
}

.prod_desc{
    max-width: 450px !important;
        overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}


/* spinner and modalll */

.sppinnermodal{
    background-color: #00000052;
    position: fixed;
    height: 100%;
    width: 100%;
}

.containersp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.outerringg {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid #47dbdb;
}

.innerringg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    height: calc(100% - 3px);
    border-radius: 100%;
    border: 5px solid #2255cb;
    animation: breathe 4s linear infinite;
}

@keyframes breathe {
    0% {
        box-shadow: 0;
    }
    25% {
        box-shadow: inset 0 0 20px 5px #2255cb;
    }
    50% {
        box-shadow: inset 0 0 120px 5px #2255cb;
    }
    75% {
        box-shadow: inset 0 0 20px 5px #2255cb;
    }
    100% {
        box-shadow: 0;
    }
}

/* spinner and modalll */




.admin_dashboard{
    display: flex; 
    flex-direction:row;
    justify-content: space-between;
    /* align-content: stretch;  */
    height: 100%;
    width: 100% !important;
}

.adminNav{
    width: 300px;
    height: 100%;
    /* align-content: stretch;  */
}

.admin_maincont{
    display: flex; 
    flex-direction:column; 
    /* align-content: stretch;  */
    /* width: calc(100%-300px); */
    width: 100%;
}

.admin_listedProducts{
    width: 100%;
}